files/aed_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified"
    xmlns:ns1="http://www.tei-c.org/ns/1.0" targetNamespace="http://www.tei-c.org/ns/1.0"
    vc:minVersion="1.1">

    <xs:import namespace="http://www.w3.org/XML/1998/namespace"/>

    <xs:override schemaLocation="https://tei-c.org/release/xml/tei/custom/schema/xsd/tei_all.xsd">
        <xs:element name="teiHeader">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="fileDesc" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                            <xs:all>
                                <xs:element name="titleStmt" minOccurs="1" maxOccurs="1">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="title" minOccurs="1" maxOccurs="1"/>
                                            <xs:element name="respStmt" minOccurs="0" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="resp" minOccurs="0" maxOccurs="1" />
                                                        <xs:element name="name" minOccurs="0" maxOccurs="unbounded">
                                                            <xs:complexType mixed="true">
                                                                <xs:attribute name="ref" />
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="editionStmt" minOccurs="0" maxOccurs="1">
                                    <xs:complexType>
                                        <xs:all>
                                            <xs:element name="edition" minOccurs="1" maxOccurs="1"/>
                                            <xs:element name="principal" minOccurs="0" maxOccurs="1">
                                                <xs:complexType>
                                                  <xs:all>
                                                  <xs:element name="persName" minOccurs="1"
                                                  maxOccurs="unbounded"/>
                                                  </xs:all>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:all>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="publicationStmt" minOccurs="1" maxOccurs="1">
                                    <xs:complexType>
                                        <xs:all>
                                            <xs:element name="publisher" minOccurs="1" maxOccurs="1"/>
                                            <xs:element name="idno" minOccurs="0" maxOccurs="1"/>
                                            <xs:element name="availability" minOccurs="1"
                                                maxOccurs="1">
                                                <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element name="licence" minOccurs="1" maxOccurs="1">
                                                  <xs:complexType mixed="true">
                                                  <xs:attribute name="target" type="xs:string"/>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  <xs:attribute ref="xml:lang"/>
                                                  <xs:attribute name="status" type="xs:string"/>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="date" minOccurs="1" maxOccurs="1" />
                                        </xs:all>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="sourceDesc" minOccurs="0" maxOccurs="1">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="p" minOccurs="0" maxOccurs="1">
                                                <xs:complexType mixed="true">
                                                    <xs:sequence>
                                                        <xs:element name="ref" minOccurs="0">
                                                            <xs:complexType mixed="true">
                                                                <xs:attribute name="target" type="xs:string"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="msDesc" minOccurs="0" maxOccurs="1">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="msIdentifier" minOccurs="0" maxOccurs="1">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element name="repository" minOccurs="0" maxOccurs="1">
                                                                        <xs:complexType mixed="true">
                                                                            <xs:attribute name="ref" />
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                    <xs:element name="idno" minOccurs="0" maxOccurs="1"/>
                                                                    <xs:element name="altIdentifier" minOccurs="0" maxOccurs="1">
                                                                        <xs:complexType>
                                                                            <xs:sequence>
                                                                                <xs:element name="idno" minOccurs="0" maxOccurs="1"/>
                                                                                <xs:element name="note" minOccurs="0" maxOccurs="1" />
                                                                            </xs:sequence>
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                    <xs:element name="msName" minOccurs="0" maxOccurs="1" />
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="msContents" minOccurs="0" maxOccurs="1">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element name="msItem" minOccurs="0" maxOccurs="1">
                                                                        <xs:complexType>
                                                                            <xs:sequence>
                                                                                <xs:element name="title" minOccurs="1" maxOccurs="1">
                                                                                    <xs:complexType mixed="true">
                                                                                        <xs:attribute name="type" type="xs:string" />
                                                                                    </xs:complexType>
                                                                                </xs:element>
                                                                                <xs:element name="textLang" minOccurs="0" maxOccurs="1">
                                                                                    <xs:complexType mixed="true">
                                                                                        <xs:sequence>
                                                                                            <xs:element name="note" minOccurs="0" maxOccurs="unbounded" />
                                                                                        </xs:sequence>
                                                                                        <xs:attribute name="mainLang" type="xs:string" />
                                                                                    </xs:complexType>
                                                                                </xs:element>
                                                                                <xs:element name="note" minOccurs="0" maxOccurs="1" />
                                                                            </xs:sequence>
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="physDesc" minOccurs="0" maxOccurs="1">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element name="objectDesc" minOccurs="0" maxOccurs="1">
                                                                        <xs:complexType>
                                                                            <xs:sequence>
                                                                                <xs:element name="supportDesc" minOccurs="0" maxOccurs="1">
                                                                                    <xs:complexType>
                                                                                        <xs:sequence>
                                                                                            <xs:element name="support" minOccurs="0" maxOccurs="1">
                                                                                                <xs:complexType>
                                                                                                    <xs:sequence>
                                                                                                        <xs:element name="objectType" minOccurs="0" maxOccurs="unbounded">
                                                                                                            <xs:complexType mixed="true">
                                                                                                                <xs:attribute name="ref" />
                                                                                                            </xs:complexType>
                                                                                                        </xs:element>
                                                                                                        <xs:element name="material" minOccurs="0" maxOccurs="1" />
                                                                                                        <xs:element name="dimensions" minOccurs="0" maxOccurs="1">
                                                                                                            <xs:complexType mixed="true">
                                                                                                                <xs:sequence>
                                                                                                                    <xs:element name="height" minOccurs="0" maxOccurs="1" />
                                                                                                                    <xs:element name="width" minOccurs="0" maxOccurs="1" />
                                                                                                                    <xs:element name="depth" minOccurs="0" maxOccurs="1" />
                                                                                                                </xs:sequence>
                                                                                                                <xs:attribute name="unit" type="xs:string" />
                                                                                                            </xs:complexType>
                                                                                                        </xs:element>
                                                                                                        <xs:element name="note" minOccurs="0" maxOccurs="unbounded" />
                                                                                                    </xs:sequence>
                                                                                                </xs:complexType>
                                                                                            </xs:element>
                                                                                            <xs:element name="condition" minOccurs="0" maxOccurs="1"/>
                                                                                        </xs:sequence>
                                                                                        <xs:attribute ref="xml:id" />
                                                                                    </xs:complexType>
                                                                                </xs:element>
                                                                            </xs:sequence>
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="history" minOccurs="0" maxOccurs="1">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element name="origin" minOccurs="0" maxOccurs="1">
                                                                        <xs:complexType>
                                                                            <xs:sequence>
                                                                                <xs:element name="origDate" minOccurs="0" maxOccurs="1">
                                                                                    <xs:complexType>
                                                                                        <xs:sequence>
                                                                                            <xs:element name="date" minOccurs="0" maxOccurs="unbounded">
                                                                                                <xs:complexType mixed="true">
                                                                                                    <xs:attribute name="type" type="xs:string" />
                                                                                                    <xs:attribute name="datingPoint" />
                                                                                                    <xs:attribute name="notBefore" />
                                                                                                    <xs:attribute name="notAfter" />
                                                                                                </xs:complexType>
                                                                                            </xs:element>
                                                                                            <xs:element name="note" minOccurs="0" maxOccurs="1"/>
                                                                                        </xs:sequence>
                                                                                    </xs:complexType>
                                                                                </xs:element>
                                                                                <xs:element name="origPlace" minOccurs="0" maxOccurs="1">
                                                                                    <xs:complexType mixed="true">
                                                                                        <xs:sequence>
                                                                                            <xs:element name="note" minOccurs="0" maxOccurs="1" />
                                                                                        </xs:sequence>
                                                                                        <xs:attribute name="ref" />
                                                                                        <xs:attribute name="type" />
                                                                                        <xs:attribute name="cert" />
                                                                                    </xs:complexType>
                                                                                </xs:element>
                                                                            </xs:sequence>
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="additional" minOccurs="0" maxOccurs="1">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element name="listBibl" minOccurs="0" maxOccurs="1">
                                                                        <xs:complexType>
                                                                            <xs:sequence>
                                                                                <xs:element name="bibl" minOccurs="0" maxOccurs="unbounded" />
                                                                            </xs:sequence>
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="msPart" minOccurs="0" maxOccurs="1">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element name="msIdentifier" minOccurs="0" maxOccurs="1">
                                                                        <xs:complexType>
                                                                            <xs:sequence>
                                                                                <xs:element name="repository" minOccurs="0" maxOccurs="1">
                                                                                    <xs:complexType mixed="true">
                                                                                        <xs:attribute name="ref" />
                                                                                    </xs:complexType>
                                                                                </xs:element>
                                                                                <xs:element name="idno" minOccurs="0" maxOccurs="1"/>
                                                                                <xs:element name="altIdentifier" minOccurs="0" maxOccurs="1">
                                                                                    <xs:complexType>
                                                                                        <xs:sequence>
                                                                                            <xs:element name="idno" minOccurs="0" maxOccurs="1"/>
                                                                                            <xs:element name="note" minOccurs="0" maxOccurs="1" />
                                                                                        </xs:sequence>
                                                                                    </xs:complexType>
                                                                                </xs:element>
                                                                            </xs:sequence>
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:all>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="encodingDesc" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="charDecl" minOccurs="0" maxOccurs="1">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="char" minOccurs="0" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="charName" minOccurs="0" maxOccurs="1" />
                                                    </xs:sequence>
                                                    <xs:attribute ref="xml:id" />
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="classDecl" minOccurs="0" maxOccurs="1">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="taxonomy" minOccurs="0" maxOccurs="1">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element ref="ns1:category" minOccurs="0" maxOccurs="unbounded" />
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="listPrefixDef" minOccurs="0" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="prefixDef" minOccurs="0" maxOccurs="unbounded">
                                                <xs:complexType mixed="true">
                                                    <xs:attribute name="ident" type="xs:string" />
                                                    <xs:attribute name="matchPattern" />
                                                    <xs:attribute name="replacementPattern" />
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="profileDesc" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="langUsage" minOccurs="0" maxOccurs="1">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="language" minOccurs="0" maxOccurs="1">
                                                <xs:complexType mixed="true">
                                                    <xs:sequence>
                                                        <xs:element name="note" minOccurs="0" maxOccurs="unbounded" />
                                                    </xs:sequence>
                                                    <xs:attribute name="ident" type="xs:string" />
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="particDesc" minOccurs="0" maxOccurs="1">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="listPerson" minOccurs="0" maxOccurs="1">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="person" minOccurs="0" maxOccurs="1">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element name="persName" minOccurs="0" maxOccurs="unbounded" />
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:sequence>
                                                    <xs:attribute name="type" type="xs:string" />
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="revisionDesc" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="listChange" minOccurs="0" maxOccurs="1">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="change" minOccurs="0" maxOccurs="unbounded" />
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                            <xs:attribute name="status" type="xs:string" />
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="body">
            <xs:complexType>
                <xs:all>
                    <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="form" minOccurs="0" maxOccurs="1">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="orth" minOccurs="0" maxOccurs="1" />
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="gramGrp" minOccurs="0" maxOccurs="1">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="term" minOccurs="0" maxOccurs="1" />
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="sense" minOccurs="0" maxOccurs="1">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="cit" minOccurs="0" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:all>
                                                        <xs:element name="quote" minOccurs="0" maxOccurs="1" />
                                                        <xs:element name="bibl" minOccurs="0" maxOccurs="1" />
                                                    </xs:all>
                                                    <xs:attribute name="type" />
                                                    <xs:attribute ref="xml:lang" />
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                            <xs:attribute ref="xml:id" />
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="p" minOccurs="0" maxOccurs="1" />
                    <xs:element name="fLib" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="f" minOccurs="0" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="symbol" minOccurs="0" maxOccurs="1">
                                                <xs:complexType>
                                                    <xs:attribute name="value" type="xs:string" />
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                        <xs:attribute name="name" type="xs:string" />
                                        <xs:attribute ref="xml:id" />
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="ab" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <xs:all>
                                <xs:element name="s" minOccurs="0" maxOccurs="unbounded">
                                    <xs:complexType mixed="true">
                                        <xs:all>
                                            <xs:element name="lb" minOccurs="0" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:attribute name="n" type="xs:string" />
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="gap" minOccurs="0" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:attribute name="reason" type="xs:string" />
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="persName" minOccurs="0" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:all>
                                                        <xs:element ref="ns1:w" minOccurs="0" maxOccurs="unbounded" />
                                                    </xs:all>
                                                    <xs:attribute name="type" type="xs:string" />
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="name" minOccurs="0" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:all>
                                                        <xs:element ref="ns1:w" minOccurs="0" maxOccurs="unbounded" />
                                                    </xs:all>
                                                    <xs:attribute name="type" type="xs:string" />
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="placeName" minOccurs="0" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:all>
                                                        <xs:element ref="ns1:w" minOccurs="0" maxOccurs="unbounded" />
                                                    </xs:all>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="addName" minOccurs="0" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:all>
                                                        <xs:element ref="ns1:w" minOccurs="0" maxOccurs="unbounded" />
                                                    </xs:all>
                                                    <xs:attribute name="type" type="xs:string" />
                                                    <xs:attribute name="subtype" type="xs:string" />
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="roleName" minOccurs="0" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:all>
                                                        <xs:element ref="ns1:w" minOccurs="0" maxOccurs="unbounded" />
                                                    </xs:all>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element ref="ns1:w" minOccurs="0" maxOccurs="unbounded" />
                                        </xs:all>
                                        <xs:attribute ref="xml:id" />
                                        <xs:attribute name="ref" />
                                        <xs:attribute ref="xml:lang" />
                                        <xs:attribute name="corresp" />
                                    </xs:complexType>
                                </xs:element>
                                <xs:element ref="ns1:damage" minOccurs="0" maxOccurs="unbounded" />
                                <xs:element ref="ns1:unclear" minOccurs="0" maxOccurs="unbounded" />
                                <xs:element ref="ns1:supplied" minOccurs="0" maxOccurs="unbounded" />
                                <xs:element ref="ns1:add" minOccurs="0" maxOccurs="unbounded" />
                                <xs:element ref="ns1:del" minOccurs="0" maxOccurs="unbounded" />
                                <xs:element ref="ns1:g" minOccurs="0" maxOccurs="unbounded" />
                                <xs:element name="gap" minOccurs="0" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:attribute name="reason" />
                                        <xs:attribute name="corresp" />
                                    </xs:complexType>
                                </xs:element>
                            </xs:all>
                        </xs:complexType>
                    </xs:element>
                </xs:all>
            </xs:complexType>
        </xs:element>
        <xs:element name="add">
            <xs:complexType mixed="true">
                <xs:all>
                    <xs:element ref="ns1:add" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:supplied" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:damage" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:del" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:unclear" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:surplus" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:g" minOccurs="0" maxOccurs="unbounded" />
                </xs:all>
                <xs:attribute name="place" />
            </xs:complexType>
        </xs:element>
        <xs:element name="category">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="catDesc" minOccurs="1" maxOccurs="1" />
                    <xs:element ref="ns1:category" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
                <xs:attribute ref="xml:id" />
            </xs:complexType>
        </xs:element>
        <xs:element name="damage">
            <xs:complexType mixed="true">
                <xs:all>
                    <xs:element ref="ns1:damage" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:supplied" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:add" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:del" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:unclear" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:surplus" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:g" minOccurs="0" maxOccurs="unbounded" />
                </xs:all>
                <xs:attribute name="corresp" />
            </xs:complexType>
        </xs:element>
        <xs:element name="del">
            <xs:complexType mixed="true">
                <xs:all>
                    <xs:element ref="ns1:del" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:supplied" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:add" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:damage" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:unclear" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:surplus" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:g" minOccurs="0" maxOccurs="unbounded" />
                </xs:all>
                <xs:attribute name="rend" />
            </xs:complexType>
        </xs:element>
        <xs:element name="g">
            <xs:complexType>
                <xs:attribute name="corresp" />
                <xs:attribute name="ref" />
            </xs:complexType>
        </xs:element>
        <xs:element name="supplied">
            <xs:complexType mixed="true">
                <xs:all>
                    <xs:element ref="ns1:supplied" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:damage" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:add" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:del" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:unclear" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:surplus" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:g" minOccurs="0" maxOccurs="unbounded" />
                </xs:all>
                <xs:attribute name="reason" />
            </xs:complexType>
        </xs:element>
        <xs:element name="surplus">
            <xs:complexType mixed="true">
                <xs:all>
                    <xs:element ref="ns1:surplus" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:supplied" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:add" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:del" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:unclear" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:damage" minOccurs="0" maxOccurs="unbounded" />
                </xs:all>
            </xs:complexType>
        </xs:element>
        <xs:element name="unclear">
            <xs:complexType mixed="true">
                <xs:all>
                    <xs:element ref="ns1:unclear" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:supplied" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:add" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:del" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:damage" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:surplus" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:g" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="note" minOccurs="0" maxOccurs="1" />
                </xs:all>
                <xs:attribute name="corresp" />
            </xs:complexType>
        </xs:element>
        <xs:element name="w">
            <xs:complexType mixed="true">
                <xs:all>
                    <xs:element name="fs" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <xs:attribute name="feats" type="xs:string" />
                        </xs:complexType>
                    </xs:element>
                    <xs:element ref="ns1:supplied" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:add" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:del" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:unclear" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:surplus" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element ref="ns1:damage" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="note" minOccurs="0" maxOccurs="1" />
                </xs:all>
                <xs:attribute ref="xml:id" />
                <xs:attribute name="lemmaRef" />
                <xs:attribute name="corresp" />
                <xs:attribute ref="xml:lang" />
            </xs:complexType>
        </xs:element>
    </xs:override>

</xs:schema>
